* {
    margin: 0px;
    box-sizing: border-box;
    background-color: #F5F6FA;
}

body {
    background-color: #f9f9fa;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    text-transform: capitalize;
    height: 50px;
}

#welcome {
    text-transform: capitalize;
    font-size: 33px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #F5F6FA;
}

.typebody {
    background-color: #F5F6FA;
    height: 100%;
    width: 100%;
}

.choosebody {
    padding-top: 25px;
    padding-left: 30%;
    text-transform: uppercase;
    font-weight: bold;
    
}

.cardbody {
    margin: 0px 27%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F5F6FA;
}

.box1, .box2, .box3 {
    margin: 5% 0px;
    width: 150px;
    height: 150px;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: white;
    color: rgb(184, 179, 179);
}

.box1 img {
    content: url("../assets/scalebw.svg");
    margin-top: 10px;
    margin-bottom: 20px;
}

.box1:hover {
    background-color: #EDFDF9;
    border-color: #0EC098;
    color: #0EC098;
}

.box1:hover img {
    content: url("../assets/scale.svg");
}

.box2 img {
    content: url("../assets/hot\ \(1\).svg");
    margin-top: 10px;
    margin-bottom: 20px;
}

.box2:hover {
    background-color: #FFEEF0;
    border-color: #FD5160;
    color: #FD5160;
}

.box2:hover img {
    content: url("../assets/hotcolour.svg");
}

.box3 img {
    content: url("../assets/beaker.svg");
    margin-top: 10px;
    margin-bottom: 20px;
}

.box3:hover {
    background-color: #E8DDFF;
    border-color: #7224FF;
    color: #7224FF;
}

.box3:hover img {
    content: url("../assets/beakercolour.svg");
}

.card1 {
    background-color: #EDFDF9;
    border-color: #0EC098;
    color: #0EC098;
}
.card2 {
    background-color: #FFEEF0;
    border-color: #FD5160;
    color: #FD5160;
}

.card3 {
    background-color: #E8DDFF;
    border-color: #7224FF;
    color: #7224FF;
}

.form{
    
    margin-top: 3%;
    display: flex;
    justify-content: center;
    
}
.from{
    
    text-transform: capitalize;
     margin-right: 20px; 
}
.to{
   
    text-transform: capitalize;
    margin-left: 20px;
}
#select,#select1,input,result{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    font-weight: bold; 
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    margin-bottom: 5px;
    
    
}
#input, #result{
    font-size: 25px;
}
#select,#select1{
    font-size: 15px;
}
@media only screen and (max-width: 600px) {
    .form{
        flex-direction: column;
        align-items: center;
    }
    .from{
       margin-right: 0px;
       margin-bottom: 25px;
       margin-top: 10px;
    }
    .to{
        margin-left: 0px;

       
   } 
   #welcome {
       text-transform: capitalize;
       font-size: 33px;
       background-color: cornflowerblue;
       text-align: center;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       padding-top: 15px;
       padding-bottom: 15px;
       color: #F5F6FA;
   }
   .choosebody {
       padding-top: 25px;
       padding-left: 30%;
       text-transform: uppercase;
       font-weight: bold;
   }
   
   }